<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.CartMapper">

    <resultMap id="CartResultMap" type="org.zerock.domain.CartVO">
        <id property="cartID" column="CartID"/>
        <result property="userID" column="UserID"/>
        <result property="productID" column="ProductID"/>
        <result property="quantity" column="Quantity"/>
    </resultMap>

    <select id="getAllCarts" resultMap="CartResultMap">
        SELECT * FROM Cart
    </select>

    <select id="getCart" parameterType="int" resultMap="CartResultMap">
        SELECT * FROM Cart WHERE CartID = #{cartID}
    </select>

    <insert id="insertCart" parameterType="org.zerock.domain.CartVO">
        INSERT INTO Cart (UserID, ProductID, Quantity)
        VALUES (#{userID}, #{productID}, #{quantity})
    </insert>

    <select id="getCartByUserID" resultMap="CartResultMap" parameterType="int">
        SELECT * FROM Cart WHERE UserID = #{userID}
    </select>

    <update id="updateCart" parameterType="org.zerock.domain.CartVO">
        UPDATE Cart
        SET UserID = #{userID}, ProductID = #{productID}, Quantity = #{quantity}
        WHERE CartID = #{cartID}
    </update>

    <delete id="deleteCart" parameterType="int">
        DELETE FROM Cart WHERE CartID = #{cartID}
    </delete>
    
    <select id="selectCartDetails" parameterType="int" resultType="org.zerock.domain.CartProductVO">
	    SELECT c.*, p.productName, p.price
	    FROM Cart c
	    JOIN Products p ON c.productID = p.productID
	    WHERE c.userID = #{userID}
	</select>


</mapper>
