<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.EventMapper">

    <!-- Create -->
    <insert id="createEvent" parameterType="org.zerock.domain.EventVO">
        INSERT INTO Events (EventName, Description, EventDate, Location, Photo, ProductID)
        VALUES (#{eventName}, #{description}, #{eventDate}, #{location}, #{photo}, #{productID})
    </insert>

    <!-- Read -->
    <select id="getEvent" resultType="org.zerock.domain.EventVO" parameterType="int">
        SELECT * FROM Events WHERE EventID = #{eventID}
    </select>

    <select id="getAllEvents" resultType="org.zerock.domain.EventVO">
        SELECT * FROM Events
    </select>

    <!-- Update -->
    <update id="updateEvent" parameterType="org.zerock.domain.EventVO">
        UPDATE Events
        SET EventName = #{eventName}, Description = #{description}, EventDate = #{eventDate},
            Location = #{location}, Photo = #{photo}, ProductID = #{productID}
        WHERE EventID = #{eventID}
    </update>

    <!-- Delete -->
    <delete id="deleteEvent" parameterType="int">
        DELETE FROM Events WHERE EventID = #{eventID}
    </delete>

</mapper>