<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.CategoryMapper">

    <insert id="createCategory" parameterType="org.zerock.mapper.CategoryMapper">
        INSERT INTO Categories (CategoryName)
        VALUES (#{categoryName})
    </insert>

	<select id="getCategory" resultType="org.zerock.domain.CategoryVO" parameterType="int">
	    SELECT * FROM Categories WHERE CategoryID = #{categoryID}
	</select>

	<update id="updateCategory" parameterType="org.zerock.domain.CategoryVO">
	    UPDATE Categories SET CategoryName = #{categoryName}
	    WHERE CategoryID = #{categoryID}
	</update>

    <delete id="deleteCategory" parameterType="int">
        DELETE FROM Categories WHERE CategoryID = #{categoryID}
    </delete>

</mapper>