<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.KakaoPaymentMapper">

    <!-- Create -->
    <insert id="insertKakaoPayment" parameterType="org.zerock.domain.KakaoPaymentVO">
        INSERT INTO KakaoPayments (OrderID, PaymentMethod, Amount, KakaoTransactionID, Status)
        VALUES (#{orderID}, #{paymentMethod}, #{amount}, #{kakaoTransactionID}, #{status})
    </insert>

    <!-- Read -->
    <select id="selectKakaoPayment" resultType="org.zerock.domain.KakaoPaymentVO" parameterType="int">
        SELECT * FROM KakaoPayments WHERE PaymentID = #{paymentID}
    </select>

    <select id="selectAllKakaoPayments" resultType="org.zerock.domain.KakaoPaymentVO">
        SELECT * FROM KakaoPayments
    </select>

    <!-- Update -->
    <update id="updateKakaoPayment" parameterType="org.zerock.domain.KakaoPaymentVO">
        UPDATE KakaoPayments
        SET OrderID = #{orderID}, PaymentMethod = #{paymentMethod}, Amount = #{amount}, 
            KakaoTransactionID = #{kakaoTransactionID}, Status = #{status}
        WHERE PaymentID = #{paymentID}
    </update>

    <!-- Delete -->
    <delete id="deleteKakaoPayment" parameterType="int">
        DELETE FROM KakaoPayments WHERE PaymentID = #{paymentID}
    </delete>

</mapper>