<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ProductMapper">

    <!-- 제품 등록 -->
    <insert id="insertProduct" parameterType="org.zerock.domain.ProductVO">
        INSERT INTO Products (ProductName, Description, Price, Photo)
        VALUES (#{productName}, #{description}, #{price}, #{photo})
    </insert>
    
    <!-- 제품 조회 -->
    <select id="selectProduct" resultType="org.zerock.domain.ProductVO" parameterType="int">
        SELECT * FROM Products WHERE ProductID = #{productID}
    </select>
    
    <!-- 모든 제품 조회 -->
    <select id="selectAllProducts" resultType="org.zerock.domain.ProductVO">
        SELECT * FROM Products
    </select>
    
    <!-- categoryId로 해당 카테고리에 속하는 상품을 가져오는 쿼리 -->
    <select id="getProductsByCategory" resultType="org.zerock.domain.ProductVO" parameterType="int">
        SELECT * FROM Products WHERE CategoryID = #{categoryId}
    </select>
    
    <!-- 제품 수정 -->
    <update id="updateProduct" parameterType="org.zerock.domain.ProductVO">
        UPDATE Products
        SET ProductName = #{productName}, Description = #{description}, Price = #{price}, Photo = #{photo}
        WHERE ProductID = #{productID}
    </update>
    
    <!-- 제품 삭제 -->
    <delete id="deleteProduct" parameterType="int">
        DELETE FROM Products WHERE ProductID = #{productID}
    </delete>
    
    <!-- 제품 이름으로 검색 -->
    <select id="searchProductsByName" resultType="org.zerock.domain.ProductVO" parameterType="string">
        SELECT * FROM Products WHERE ProductName LIKE CONCAT('%', #{productName}, '%')
    </select>
    
    <!-- productId로 categoryId를 조회하는 쿼리 -->
    <select id="findCategoryIdByProductId" parameterType="int" resultType="int">
        SELECT categoryId
        FROM Products
        WHERE productId = #{productId}
    </select>
    
</mapper>
